<!----------Header_start------------------------------------------------------------------------------------------->
<div class="container-fluid">
  <div class="row" >
    <div class="header">
      <div class="col col-sm-6 logo_section">
        <img src="assets/chebodula.jpg"  alt="Chebodula Family" id="logo">
        <h3 id="logo_name">Chebodula's Family</h3>
      </div>
      <div class="col col-sm-3">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="col col-sm-3 d-flex">
        <div id="login">
          <button class="btn btn-info" routerLink="/login" routerLinkActive="active" type="submit">Login</button>
        </div>
        <div>
          <button class="btn btn-success" type="submit" routerLink="/signup" routerLinkActive="active">Signup</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!----------Header_End------------------------------------------------------------------------------------------->
