.header         { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aquamarine;
    height: 55px;

}

 .logo_section   {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px; 
    
}
#logo   {
border-radius: 50px;
height: 50px;
width: 50px;
}
#logo_name      {
    padding-left: 25px;
    font-size: 30px;
    color: rgba(230, 16, 212, 0.64);
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    
} 
#login{
    margin-right: 5px;
}
