*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content-wrapper{
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}
.card {
  height: 450px;
  margin:auto;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}