<div class="content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-12 offset-3">
                <div class="card col-sm-6 mt-4">
                    <div class="card-header">
                        <div class="title login">Login Form</div>
                    </div>
                    <div class="card-body">
                        <form action="#" class="login">
                            <div class="field">
                              <input type="text" placeholder="Email Address" required>
                            </div>
                            <div class="field">
                              <input type="password" placeholder="Password" required>
                            </div>
                            <div class="pass-link"><a href="#">Forgot password?</a></div>
                            <div class="field btn">
                              <div class="btn-layer"></div>
                              <input type="submit" value="Login">
                            </div>                            
                          </form>
                    </div>
                    <div class="card-footer">
                        <div class="signup-link">Not a member? <a href="">Signup now</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>