<div class="top_header">
    <div class="phno_time">
        <p id="phno"><i class="fa fa-phone"></i>+91 8328276160</p>
        <h4 id="time_display">{{today | date:'fullDate'}} {{today | date:'h:mm:ss a'}}</h4>
    </div>
    <div>
        <h4 id="heading">Chebodula's Family</h4>        
    </div>
    <div class="socialmedia">
        <a href="https://www.google.com/intl/en-GB/gmail/about/" target="_blank"><img src="assets/Gmail_logo.png" width="30px" height="30px" alt="Gmail"></a>
        <a href="https://www.facebook.com/" target="_blank"><img src="assets/facebook_logo.png" width="38px" height="38px" alt="Facebook" ></a>
        <a href="https://www.messenger.com/" target="_blank"><img src="assets/mesengeer_logo.png" width="50px" height="50px" alt="Messenger" ></a>
        <a href="https://twitter.com/i/flow/login" target="_blank" > <img src="assets/twitter_logo.png" width="50px" height="50px" alt="Twitter"></a>
        <a href="https://www.instagram.com/accounts/login/" target="_blank"><img src="assets/instagram_logo.png"  width="50px" height="50px" alt="Instagram" ></a>
    </div>            
</div>


