<div class="content-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="col col-sm-12 offset-3">
              <div class="card col-sm-6 mt-4">
                  <div class="card-header">
                      <div class="title signup">Signup Form</div>
                  </div>
                  <div class="card-body">
                      <form action="#" class="login">
                          <div class="field">
                            <input type="text" class="col col-sm-6 rounded" placeholder="Email Address" required>
                          </div>
                          <div class="field">
                            <input type="password" class="col col-sm-6 rounded" placeholder="Password" required>
                          </div>
                          <div class="field">
                            <input type="password" class="col col-sm-6 rounded" placeholder="Confirm Password" required>
                          </div>
                          
                          <div class="mb-3 field-btn">
                            
                            <input type="submit" value="Signup" class=" col col-sm-3 btn btn-info" routerLink="/register" routerLinkActive="active">
                            <input type="reset" value="Reset" class=" col col-sm-3 btn btn-warning">
                          </div>                            
                        </form>
                  </div>
                  <div class="card-footer">
                      <div id="msg">You are already registred? <a routerLink="/login" routerLinkActive="active" id="log">Login</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>