<h5 style="color: red;">I am Child _01 Component</h5>
<!-- <h1>{{name}}</h1>
<div class="col col-sm-2">
    <p> Number A value is : {{a}} </p>
    <input type="number" [(ngModel)]="a"/>

    <p> Number B value is : {{b}} </p>
    <input type="number" [(ngModel)]="b"/><br>

    <p>The Sum of numbers a:{{a}} and b:{{b}} is = {{x}}</p>
    <button (click)="add(a,b)">Add</button>

    <h5>{{iText}}</h5>
</div> -->

<!-- <div class="row text-danger">
    <div class="col col-6 disp-flex border ">
        <label class="me-3">Input-Text Data Send To Parent </label>
        <input type="text" [(ngModel)]=parentText />
    </div>
    <div class="col col-6 disp-flex">
        <label class="me-3">Input-Number Data Send To Parent </label>
        <input type="number" [(ngModel)]="parentNum" />
    </div>
    <div class="col col-6 disp-flex">
        <label class="me-3">Input-Select Data Send To Parent </label>
                <select type="select"  [(ngModel)]="parentSelectText" >
                    <option>Karthik</option>
                    <option>Mounika</option>
                    <option>Manoj</option>
                </select>
        
    </div>
    <div class="col col-6 disp-flex">
        <p class="me-3">Input-checkbox Data Send To Parent </p>
        <input type="checkbox" id="eng" name="language1" value="ENGLISH">
        <label for="eng">English</label>
        &nbsp;
        <input type="checkbox" id="hindi" name="language2" value="HINDI">
        <label for="hindi">Hindi</label>
        &nbsp;
        <input type="checkbox" id="telugu" name="language3" value="TELUGU">
        <label for="telugu">Telugu</label>
    </div>
</div>

<div class="row">
    <div class="col col-sm-8 border text-info">
        <p>Data From Parent Input-Text:{{ch1text}}</p>
        <p>Data From Parent Input-Number:{{ch1num}}</p>            
        <p>Data From Parent Input-Select:{{ch1selecttext}}</p>            
        <p>Data From Parent Input-Checkbox:{{ch1checkboxtext}}</p>            
    </div>
</div>

<div class="row">
    <div class="col col-sm-8 border text-success">
        <p>Data From child-02 Input-Text:</p>
        <p>Data From child-02 Input-Number:</p>            
        <p>Data From child-02 Input-Select:</p>            
        <p>Data From child-02 Input-Checkbox:</p>            
    </div>
</div>
<button type="button" (click)="sendText()">Send</button> -->

<!-- (change)="sendNum(num)"
(change)="sendSelectText(text1)" -->

<!---========================================================================================-->
<h1>{{myNumber}}</h1>