<div class="wrapper">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col col-sm-6">
                    <img src="assets/chebodula.jpg" alt="Chebodula Family" id="logoimg">
                </div>
                <div class="col col-sm-6 title">
                    <h1 id="title-name">Chebodula Family</h1>
                </div>
            </div>
        </div>
        <div class="container-inner mt-5">
            <div class="sec1">                
                    <img src="assets/Home Images/img16.jpg" width="300px" height="200px" alt="Img16">                
                    <img src="assets/Home Images/img14.JPG" width="300px" height="200px" alt="Img12">                
                    <img src="assets/Home Images/img15.JPG" width="300px" height="200px" alt="Img13">                
            </div>
            <div class="sec2">                
                    <img src="assets/Home Images/img11.JPG" width="300px" height="200px" alt="Img14">                
                    <img src="assets/Home Images/img12.JPG" width="300px" height="200px" alt="Img15">
                    <img src="assets/Home Images/img19.JPG" width="300px" height="200px" alt="Img16">
            </div>
            <div class="sec3">   
                    <img src="assets/Home Images/img18.jpg" width="300px" height="200px" alt="Img17">
                    <img src="assets/Home Images/img13.JPG" width="300px" height="200px" alt="Img18">
                    <img src="assets/Home Images/img17.jpg" width="300px" height="200px" alt="Img19">
            </div>
        </div>
    </div>
</div>