<!-- <div class="wrapper">
    <div class="container">
        <div class="card">
            <div class="imagebox">
                <img src="assets/Home Images/img16.jpg" width="300px" height="400px" alt="Img16">           
            </div>
            <div class="details">            
            </div>
        </div>
        <div class="card">
            <div class="imagebox">
                <img src="assets/Home Images/img14.JPG" width="300px" height="400px" alt="Img14">            
            </div>
            <div class="details">            
            </div>
        </div>
        <div class="card">
            <div class="imagebox">
                <img src="assets/Home Images/img15.JPG" width="300px" height="400px" alt="Img15">            
            </div>
            <div class="details">            
            </div>
        </div>
        <div class="card">
            <div class="imagebox">
                <img src="assets/Home Images/img11.JPG" width="300px" height="400px" alt="Img11">            
            </div>
            <div class="details">            
            </div>
        </div>
        <div class="card">
            <div class="imagebox">
                <img src="assets/Home Images/img12.JPG" width="300px" height="400px" alt="Img12">            
            </div>
            <div class="details">            
            </div>
        </div>
        <div class="card">
            <div class="imagebox">
                <img src="assets/Home Images/img19.JPG" width="300px" height="400px" alt="Img19">            
            </div>
            <div class="details">            
            </div>
        </div>
        <div class="card">
            <div class="imagebox">
                <img src="assets/Home Images/img18.jpg" width="300px" height="400px" alt="Img18">            
            </div>
            <div class="details">            
            </div>
        </div>
        <div class="card">
            <div class="imagebox">
                <img src="assets/Home Images/img13.JPG" width="300px" height="400px" alt="Img13">            
            </div>
            <div class="details">            
            </div>
        </div>
        <div class="card">
            <div class="imagebox">
                <img src="assets/Home Images/img17.jpg" width="300px" height="400px" alt="Img17">            
            </div>
            <div class="details">            
            </div>
        </div>             
    </div>
</div> -->
<!-- <div class="container">
    <div class="row">
        <div class="col col-sm-6">
            <img src="assets/chebodula.jpg" alt="Chebodula Family" id="logoimg">
        </div>
        <div class="col col-sm-6 title">
            <h1 id="title-name">Chebodula Family</h1>
        </div>
    </div>
</div>
<div class="container-inner mt-5">
    <div class="sec1">
        <img src="assets/Home Images/img16.jpg" width="300px" height="200px" alt="Img16">
        <img src="assets/Home Images/img14.JPG" width="300px" height="200px" alt="Img12">
        <img src="assets/Home Images/img15.JPG" width="300px" height="200px" alt="Img13">
    </div>
    <div class="sec2">
        <img src="assets/Home Images/img11.JPG" width="300px" height="200px" alt="Img14">
        <img src="assets/Home Images/img12.JPG" width="300px" height="200px" alt="Img15">
        <img src="assets/Home Images/img19.JPG" width="300px" height="200px" alt="Img16">
    </div>
    <div class="sec3">
        <img src="assets/Home Images/img18.jpg" width="300px" height="200px" alt="Img17">
        <img src="assets/Home Images/img13.JPG" width="300px" height="200px" alt="Img18">
        <img src="assets/Home Images/img17.jpg" width="300px" height="200px" alt="Img19">
    </div>
</div> -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="assets/Home Images/img16.jpg" class="d-block w-100" alt="Img16">
      </div>
      <div class="carousel-item" data-bs-interval="200">
        <img src="assets/Home Images/img14.JPG" class="d-block w-100" alt="Img14">
      </div>
      <div class="carousel-item">
        <img src="assets/Home Images/img15.JPG" class="d-block w-100" alt="Img15">
      </div>
      <div class="carousel-item">
        <img src="assets/Home Images/img11.JPG" class="d-block w-100" alt="Img11">
      </div>
      <div class="carousel-item">
        <img src="assets/Home Images/img12.JPG" class="d-block w-100" alt="Img12">
      </div>
      <div class="carousel-item">
        <img src="assets/Home Images/img19.JPG" class="d-block w-100" alt="Img19">
      </div>
      <div class="carousel-item">
        <img src="assets/Home Images/img18.jpg" class="d-block w-100" alt="Img18">
      </div>
      <div class="carousel-item">
        <img src="assets/Home Images/img13.JPG" class="d-block w-100" alt="Img13">
      </div>
      <div class="carousel-item">
        <img src="assets/Home Images/img17.jpg" class="d-block w-100" alt="Img17">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>